[submodule "3rdparty/opencv"]
    path = 3rdparty/opencv
    url = https://github.com/opencv/opencv.git
    branch = 4.8.0
    shallow = true

[submodule "3rdparty/poco"]
    path = 3rdparty/poco
    url = https://github.com/pocoproject/poco.git
    branch = poco-1.12.4-release 
    shallow = true

[submodule "3rdparty/onnxruntime"]
    path = 3rdparty/onnxruntime
    url = https://github.com/microsoft/onnxruntime.git
    branch = v1.17.0
    shallow = true

[submodule "3rdparty/protobuf"]
    path = 3rdparty/protobuf
    url = https://github.com/protocolbuffers/protobuf.git
    branch = v3.20.2
    shallow = true
